@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;

  &__label-and-tooltip-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-direction: row;
  }

  &__tooltip-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include hover-focus-active {
      circle {
        fill: $link-hover;
      }
    }
  }

  &__label {
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__input-and-button-wrapper {
    display: grid;
    grid-template-columns: 9fr auto;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e6e7e8;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;

    &:focus,
    &:active {
      outline-color: $link;

    }
  }

  &__button {
    padding: 0.5rem 1rem;
    background-color: $link;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    @include hover-focus-active {
      background-color: $link-hover;
      outline-color: $link-hover;
      outline-offset: -1px;

      .form__icon {
        stroke: #e6e7e8;
      }
    }
  }

  &__icon {
    transition: 0.3s ease-in-out;
  }

  &__helper-text {
    font-size: 0.875rem;
    font-style: italic;
    color: #3e4143;
    margin: 0;
  }

  &__result-message {
    font-size: 1rem;
    padding: 0.5rem;
    color: #000000;
    border-radius: 0.5rem;
    font-weight: 600;

    &--error {
      background-color: rgba(247, 11, 11, 0.544);
      border: 1px solid rgba(247, 11, 11, 1);
    }

    &--success {
      background-color: rgba(11, 247, 54, 0.544);
      border: 1px solid rgba(11, 247, 54, 1);
    }
  }
}